<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Facebook - Đăng nhập hoặc đăng ký</title>
    <link rel="stylesheet" type="text/css" href="./style/facebook.css">
</head>

<body>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- <script type="text/babel" src="./component/login/index.js"></script>    -->
    <div id='login-page'></div>
    <script type="text/javascript" src="./build/login.bundle.js" charset=”utf-8"></script>
</body>

</html>